{
    "singleQuote": false,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "embeddedLanguageFormatting": "auto",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed"

}